.UserCard {
  display: flex;
  justify-content: center;
  margin: 20px;
  filter: grayscale(0%);
}

.cardStyles {
  text-align: center;
}

.UserCard:hover {
  filter: grayscale(100%);
  transform: scale(1.03);
}
