.CounterSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
}

.span-counter {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.icon-section {
  margin-right: 20px;
}
