.productsSection {
  display: grid;
  grid-template-columns: auto auto auto;
}

.headerProducts{
  margin: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hrStyle {
  border-bottom: 3px solid #fff;
  width: 75px;
}